/* <= 1820px */
@media (min-width: 1820px) {}

/* <= 1600px */
@media (max-width: 1600px) {}

@media screen and (min-width: 1440px) and (max-width: 1540px) {

    /* instagram */
}

/* <= 1440px */
@media (max-width: 1440px) {
    /* .hero-bg {
        padding-top: 150px;
    } */

    .hero-content {
        font-size: 50px;
    }

    .hero-content p {
        font-size: 30px;
    }

    .hero-img:before,
    .hero-img:after {
        left: 42%;
    }
}

/* <= 1200px */
@media (max-width: 1200px) {}

/* <= 1024px */
@media (max-width: 1024px) {
    .desktop-nav {
        display: none;
    }

    .header-main {
        padding: 10px 20px;
    }

    .logo {
        font-size: 28px;
    }

    .menu-toggle {
        display: block;
    }

    .drawer-cta {
        display: none;
    }

    /* header ends */
    .hero-main {
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 90px;
        gap: 30px;
    }

    .blend-layout {
        grid-template-columns: 1fr;
    }

    .about-content {
        order: 1;
    }

    .about-img-container {
        order: 12;
    }

    .hero-content,
    .hero-img {
        align-items: center;
        width: initial;
        gap: 20px;
    }

    .hero-img img {
        height: 650px;
    }

    section {
        padding-block: 60px;
    }

}

/* <= 992px */
@media (max-width: 992px) {

    .social-media a {
        width: 30px;
        height: 30px;
    }

    .social-media svg {
        font-size: initial;
        width: 16px;
        height: 16px;
    }
}

/* <= 768px */
@media (max-width: 768px) {
    .header-cta-wrapper {
        display: none;
    }

    .footer-top {
        padding: 10px;
    }

    .hero-main {
        margin-top: 120px;
    }

    .drawer-cta {
        display: block;
        margin-top: 30px;
    }

    .mobile-menu-drawer {
        right: -70px;
    }

    .drawer-cta {
        display: block;
    }

    .about-main {
        grid-template-columns: 1fr;
    }

    .about-img {
        height: 420px;
    }

    /* news */

    .hero-content p {
        text-align: center;
    }

    .timeline-title {
        font-size: 19px;
        font-weight: 500;
    }

}

@media (max-width: 576px) {
    .mobile-menu-drawer {
        right: -50px;
    }

    .hero-main {
        margin-top: 70px;
    }

    .exp-content {
        padding: 20px;
    }

    .exp-card {
        flex-direction: column;
    }

    .exp-desc {
        margin-bottom: 0;
    }

    .contact-image-wrapper {
        height: 400px;
        flex: initial;
    }

    .contact-title {
        font-size: 30px;
    }

    .book-parallax-text {
        font-size: 15px;
    }

    .book-parallax-title {
        font-size: 34px;
        margin-bottom: 6px;
    }

    .book-parallax-container {
        padding: 20px;
    }

    .contact-form-container {
        padding: 16px;
    }

    .contact-card {
        flex-direction: column;
        align-items: stretch;
    }

    .exp-image-wrapper,
    .exp-content {
        width: 100%;
    }

    .hero-content {
        font-size: 30px;
    }

    .hero-content p {
        font-size: 20px;
    }

    .hero-img:before,
    .hero-img:after {
        width: 300px;
    }

    .hero-img:after {
        width: 210px;
        height: 210px;
    }

    .about-heading {
        font-size: 36px;
    }

    .about-content p {
        font-size: 14px;
    }

    section {
        padding-block: 30px;
    }


    .footer-top {
        padding: 10px;
        flex-direction: column;
        gap: 12px;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
        gap: 10px;
        font-size: 14px;
    }

    .hero-img:after {
        top: 200px;
    }

    #about {
        padding-top: 50px;
    }
}